.title {
    background-image: linear-gradient(to right, rgb(13, 13, 201), rgb(30, 30, 82))
}

.title h1 {
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.search-btn,
.city-history {
    margin-top: 10px;
    width: 12rem;
}

.search-box {
    margin-left: 3rem;
}

.line {
    margin-top: 15px;
    border-top: 2px solid grey;
    margin-bottom: 15px;
    margin-right: 4rem;
}

#description {
    margin-top: 2rem;
}

#city {
    font-size: 32px;
    font-weight: bold;
}

#date {
    font-size: 24px;
    font-weight: bold;
}

.col-sm-2 {
    border: 3px solid black;
    width: 16rem;
    margin-right: 10px;
    background-color: #178f93;
}